.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.game {
  height: 6.82vh;
}

.image {
  float: left;
}

.bg {
  height: 1000px;
  background-image: url('../public/assets/layer_3.png');
  background-size: cover;
  margin-top: -60em;
}
